---
import Card from "@/components/app/Card.astro";
import DocsLayout from "@/layouts/DocsLayout.astro";
import { capitalize } from "@/utils/capitalize";
import type { GetStaticPaths } from "astro";

const { tag } = Astro.params;
const { component } = Astro.props;

export const getStaticPaths = (async () => {
  const components: any = await Astro.glob("@/data/*.ts");
  return components.map((component: typeof components) => {
    return {
      params: { tag: Object.keys(component)[0] },
      props: { component: component },
    };
  });
}) satisfies GetStaticPaths;
---

<DocsLayout title={capitalize(tag)}>
  <div class="grid grid-cols-1 gap-6">
    {
      (component[tag] as any).component.map((item: any, i: number) => (
        <Card id={i + 1} transition:name={`card-${i + 1}`}>
          <Fragment set:html={item.codes[0].code} />
        </Card>
      ))
    }
  </div>
</DocsLayout>
