---
import Card from "@/components/app/Card.astro";
import { BUTTONS } from "@/data/buttons";
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout title="Docs - MixtinUI">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
    {
      BUTTONS.map((item, i) => (
        <Card id={i + 1} transition:name={`card-${i + 1}`}>
          <item.Component />
        </Card>
      ))
    }
  </div>
</DocsLayout>
