---
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout>
  <div class="grid grid-cols-1 gap-4">
    <!-- {
      TIMELINES.map((item, i) => (
        <Card id={i + 1} transition:name={`card-${i + 1}`}>
          <Fragment set:html={item.codes[0].code} />
        </Card>
      ))
    } -->
  </div>
</DocsLayout>
