---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{
  as: Tag;
  customStyles?: boolean;
}>;

const {
  as: Tag = "button",
  customStyles = false,
  class: className,
  ...props
} = Astro.props;
---

<Tag
  class:list={[
    "inline-flex h-12 items-center justify-center overflow-hidden rounded-md px-4 font-medium",
    !customStyles &&
      "bg-neutral-900 text-white hover:bg-neutral-700 dark:bg-sky-500 dark:hover:bg-sky-400",
    className,
  ]}
  {...props}
>
  <span><slot /></span>
</Tag>
