---
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;

const { as: Tag = "button", class: className, ...props } = Astro.props;
---

<Tag
  class:list={[
    "inline-flex h-12 items-center justify-center overflow-hidden rounded-md bg-neutral-900 px-4 font-medium text-white hover-active:bg-neutral-700 dark:bg-sky-500 dark:hover-active:bg-sky-400",
    className,
  ]}
  {...props}
>
  <span><slot /></span>
</Tag>
