---
import Section from "./Section.astro";
---

<Section
  as="footer"
  class="flex justify-center mt-10 items-center text-gray-500 pt-10 pb-16 border-t border-gray-200 dark:border-gray-800"
>
  Copyright © 2024 Some rights reserved
</Section>
