---
import Section from "./Section.astro";

const { class: className } = Astro.props;
---

<Section
  as="footer"
  class:list={[
    "mt-8 border-t border-neutral-200 py-8 text-center text-neutral-500 dark:border-neutral-800",
    className,
  ]}
>
  <slot>Copyright © 2024 Some rights reserved. Made by</slot>
  <slot name="link">
    <a
      href="https://www.linkedin.com/in/martinsep/"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline"
    >
      Martín
    </a>
  </slot>
</Section>
