---
import NavbarBrand from "./NavbarBrand.astro";
import Section from "./Section.astro";
import Sidebar from "./Sidebar.astro";
import ThemeToggle from "./ThemeToggle.astro";

const { class: className, ...rest } = Astro.props;
const { pathname } = Astro.url;
---

<nav class="group sticky left-0 top-0 z-[9999] py-4 shadow" {...rest}>
  <Section
    class="flex w-full flex-wrap items-center justify-between gap-4 px-6"
  >
    <NavbarBrand />

    <div class="flex items-center justify-center gap-x-6">
      {
        !pathname.includes("/docs/") && (
          <a
            href="/docs/"
            class="font-medium hover:text-sky-500 dark:hover:text-sky-400"
          >
            Docs
          </a>
        )
      }
      <ThemeToggle />
    </div>
  </Section>

  <Sidebar variant="nav">
    <NavbarBrand class="mb-4 px-6" />
  </Sidebar>

  <section
    class="pointer-events-none fixed -left-full top-0 h-[1000vh] w-[200%] bg-black/10 opacity-0 transition-[opacity,left] duration-300 max-sm:group-data-[open]:pointer-events-auto max-sm:group-data-[open]:left-64 max-sm:group-data-[open]:opacity-100"
  >
  </section>
</nav>

<script is:inline>
  const navbar = document.querySelector("nav"),
    menuBtns = document.querySelectorAll("nav svg"),
    overlay = navbar.querySelector("section");

  menuBtns.forEach((item) => {
    item.addEventListener("click", () => {
      navbar.toggleAttribute("data-open");
    });
  });

  overlay.addEventListener("click", () => {
    navbar.removeAttribute("data-open");
  });
</script>
