<section id="slider2" class="w-full">
  <div
    class="slider-wrapper group/wrapper relative flex h-[60dvh] items-end justify-center overflow-hidden"
  >
    <ul class="list">
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 1
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 2
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 3
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 4
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 5
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 6
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 7
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 8
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 9
        </div>
      </li>
      <li
        class="item group absolute bottom-16 left-1/2 flex h-36 w-24 items-end overflow-hidden rounded-2xl bg-neutral-400 transition-[bottom,left,width,height,border-radius,background-color] duration-500 first:bottom-0 first:left-0 first:z-[1] first:size-full first:rounded-none first:bg-neutral-500 last:bottom-0 last:left-0 last:size-full last:rounded-none last:bg-neutral-500 lg:h-56 lg:w-40 group-[.prev]/wrapper:[&:nth-child(2)]:z-[2]"
      >
        <div
          class="content mb-3 w-1/2 translate-y-4 px-8 py-4 text-white opacity-0 transition-[transform,opacity] duration-200 group-first:translate-y-0 group-first:opacity-100 group-first:delay-500 group-last:translate-y-0 group-last:opacity-100 group-last:delay-500"
        >
          ITEM 10
        </div>
      </li>
    </ul>
    <ul class="thumbnail absolute bottom-16 left-1/2 z-[3] flex gap-4">
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
      <li class="item h-36 w-24 rounded-2xl bg-neutral-400 lg:h-56 lg:w-40">
      </li>
    </ul>
    <div class="z-[3] mb-4 flex gap-3">
      <button
        type="button"
        class="flex size-8 items-center justify-center rounded-lg bg-black text-white hover:bg-neutral-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M15 6l-6 6l6 6"></path>
        </svg>
      </button>
      <button
        type="button"
        class="flex size-8 items-center justify-center rounded-lg bg-black text-white hover:bg-neutral-700"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </button>
    </div>
  </div>
</section>

<style>
  #slider2 .slider-wrapper.prev .thumbnail .item:last-child {
    animation: showThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) reverse;
  }

  #slider2 .slider-wrapper.next .thumbnail .item:last-child {
    opacity: 0;
    animation: showThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @keyframes showThumbnail {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #slider2 .slider-wrapper.prev .thumbnail {
    transform: translateX(0);
    animation: transformThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) reverse;
  }

  #slider2 .slider-wrapper.next .thumbnail {
    transform: translateX(166px);
    animation: transformThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @keyframes transformThumbnail {
    from {
      transform: translateX(166px);
    }
    to {
      transform: translateX(0);
    }
  }
</style>

<script is:inline>
  const slider = document.querySelector("#slider2 .slider-wrapper");
  const slideButtons = slider.querySelectorAll("button");
  const list = slider.querySelector(".list");
  const thumbnail = slider.querySelector(".thumbnail");
  let runTimeout;

  const showSlider = (type) => {
    const listItems = slider.querySelectorAll(".list .item");
    const thumbnailItems = slider.querySelectorAll(".thumbnail .item");

    slideButtons.forEach((button) =>
      button.classList.add("pointer-events-none")
    );

    if (type === "next") {
      slider?.classList.add("next");
      list?.appendChild(listItems[0]);
      thumbnail?.appendChild(thumbnailItems[0]);

      clearTimeout(runTimeout);
      runTimeout = setTimeout(() => {
        slider?.classList.remove("prev");
        slider?.classList.remove("next");
        slideButtons.forEach((button) =>
          button.classList.remove("pointer-events-none")
        );
      }, 500);
    } else {
      slider?.classList.add("prev");
      list?.prepend(listItems[listItems.length - 1]);

      clearTimeout(runTimeout);
      runTimeout = setTimeout(() => {
        thumbnail?.prepend(thumbnailItems[thumbnailItems.length - 1]);
        slider?.classList.remove("prev");
        slider?.classList.remove("next");
        slideButtons.forEach((button) =>
          button.classList.remove("pointer-events-none")
        );
      }, 500);
    }
  };

  slideButtons.forEach((button) => {
    button.addEventListener("click", () => {
      button.classList.add("pointer-events-none");
      showSlider(slideButtons[0] === button ? "prev" : "next");
    });
  });
</script>
