---
const { id } = Astro.props;
const { pathname } = Astro.url;
---

<li>
  <a
    href={`/docs/${id.toLowerCase()}/`}
    class:list={[
      "-ml-px block border-l-2 pl-4",
      pathname.includes(id.toLowerCase())
        ? "border-sky-500 text-sky-500 dark:text-sky-400"
        : "border-transparent opacity-75 hover-active:border-gray-500/50 hover-active:opacity-100",
    ]}>{id}</a
  >
</li>
