---
const { id } = Astro.props;
const { pathname } = Astro.url;
---

<li>
  <a
    href={`/docs/${id.toLowerCase()}/`}
    class:list={[
      "block pl-4 -ml-px border-l-2",
      pathname.includes(id.toLowerCase())
        ? "text-sky-500 dark:text-sky-400 border-sky-500"
        : "opacity-75 hover-active:opacity-100 border-transparent hover-active:border-gray-500/50",
    ]}>{id}</a
  >
</li>
