---
import { capitalize } from "@/utils/capitalize";
import Book from "../icons/book.astro";
import Box from "../icons/box.astro";
import { Schemas } from "db/schemas";

const { variant, class: className } = Astro.props;
const { tag } = Astro.params;

const asideVariants = {
  nav: "-left-full top-0 pb-12 pt-4 shadow-lg transition-[left] bg-white dark:bg-neutral-900 duration-300 max-sm:group-data-[open]:left-0",
  aside: "pb-16 max-sm:hidden",
};
const ulVariants = {
  nav: "px-4",
  aside: "pr-4",
};
---

<aside
  class:list={[
    "fixed size-full max-w-64",
    asideVariants[variant as keyof typeof asideVariants],
    className,
  ]}
>
  <slot />

  <div class="h-full overflow-y-auto py-5">
    <ul class={ulVariants[variant as keyof typeof ulVariants]}>
      <li>
        <a
          href="/docs/"
          class:list={[
            "flex items-center gap-3.5 whitespace-nowrap rounded-md p-3 hover:bg-neutral-900/5 dark:hover:bg-neutral-200/5",
            tag === "/docs/" && "text-sky-500 dark:text-sky-400",
          ]}
        >
          <Book class="size-5 shrink-0" />
          <span>Get Started</span>
        </a>
      </li>
      <li>
        <h5 class="flex items-center gap-3.5 whitespace-nowrap rounded-md p-3">
          <Box class="size-5 shrink-0" />
          <span>Components</span>
        </h5>
        <ul>
          {
            Object.entries(Schemas).map(([key, component]) => {
              const Icon = component.Icon;

              return (
                <li>
                  <a
                    href={`/docs/${key}/`}
                    class:list={[
                      "ml-3 flex items-center gap-3.5 whitespace-nowrap rounded-md p-3 hover:bg-neutral-900/5 dark:hover:bg-neutral-200/5",
                      tag === key && "text-sky-500 dark:text-sky-400",
                    ]}
                  >
                    <Icon class="size-5 shrink-0" />
                    <span>{capitalize(key)}</span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </li>
    </ul>
  </div>
</aside>
