---
import { PATHS } from "@/data/paths";
import Book from "../icons/book.astro";
import Box from "../icons/box.astro";

const { variant, class: className } = Astro.props;
const { pathname } = Astro.url;

const asideVariants = {
  nav: "-left-full top-0 pb-12 pt-4 shadow-lg transition-[left] duration-300 max-sm:group-data-[open]:left-0",
  aside: "pb-16 max-sm:hidden",
};
const ulVariants = {
  nav: "px-4",
  aside: "pr-4",
};
---

<aside
  class:list={[
    "fixed size-full max-w-64 bg-white dark:bg-neutral-900",
    asideVariants[variant as keyof typeof asideVariants],
    className,
  ]}
>
  <slot />

  <div class="h-full overflow-y-auto py-5">
    <ul class={ulVariants[variant as keyof typeof ulVariants]}>
      <li>
        <a
          href="/docs/"
          class:list={[
            "flex items-center gap-3.5 whitespace-nowrap rounded-md p-3 hover-active:bg-neutral-200 dark:hover-active:bg-neutral-800",
            pathname === "/docs/" && "text-sky-500 dark:text-sky-400",
          ]}
        >
          <Book class="size-5" />
          <span>Get Started</span>
        </a>
      </li>
      <li>
        <h5 class="flex items-center gap-3.5 whitespace-nowrap rounded-md p-3">
          <Box class="size-5" />
          <span>Components</span>
        </h5>
        <ul>
          {
            PATHS.map((path) => (
              <li>
                <a
                  href={path.url}
                  class:list={[
                    "ml-3 flex items-center gap-3.5 whitespace-nowrap rounded-md p-3 hover-active:bg-neutral-200 dark:hover-active:bg-neutral-800",
                    pathname.includes(path.url) &&
                      "text-sky-500 dark:text-sky-400",
                  ]}
                >
                  <path.Icon class="size-5" />
                  <span>{path.name}</span>
                </a>
              </li>
            ))
          }
        </ul>
      </li>
    </ul>
  </div>
</aside>
