<section id="slider2">
  <div class="slider-wrapper">
    <ul class="list">
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
        <div class="content">
          <h3>01</h3>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
        <div class="content">
          <h3>02</h3>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
        <div class="content">
          <h3>03</h3>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/673803/pexels-photo-673803.jpeg');"
      >
        <div class="content">
          <h3>04</h3>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
        <div class="content">
          <h3>05</h3>
          <p>Lorem ipsum dolor.</p>
        </div>
      </li>
    </ul>
    <ul class="thumbnail">
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/640781/pexels-photo-640781.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/673803/pexels-photo-673803.jpeg');"
      >
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
      </li>
      <li
        class="item"
        style="background-image: url('https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
      >
      </li>
    </ul>
    <div class="slide-buttons">
      <button type="button" class="slide-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M15 6l-6 6l6 6"></path>
        </svg>
      </button>
      <button type="button" class="slide-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M9 6l6 6l-6 6"></path>
        </svg>
      </button>
    </div>
  </div>
</section>

<style>
  #slider2 {
    width: 100%;
  }

  #slider2 .slider-wrapper {
    position: relative;
    display: flex;
    height: 60dvh;
    align-items: end;
    justify-content: center;
    overflow: hidden;
  }

  #slider2 .list .item {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    display: flex;
    height: 9rem;
    width: 6rem;
    align-items: end;
    overflow: hidden;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition-property: bottom, left, width, height, border-radius,
      background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
  }

  #slider2 .list .item:first-child,
  #slider2 .list .item:last-child {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #slider2 .list .item:first-child {
    z-index: 1;
  }

  #slider2 .slider-wrapper.prev .list .item:nth-child(2) {
    z-index: 2;
  }

  #slider2 .list .item .content {
    margin-bottom: 3rem;
    width: 50%;
    transform: translateY(20px);
    padding: 1rem 2rem;
    color: #fff;
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }

  #slider2 .list .item:first-child .content,
  #slider2 .list .item:last-child .content {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 500ms;
  }

  #slider2 .list .item .content h3 {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
  }

  #slider2 .list .item .content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  #slider2 .thumbnail {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    z-index: 3;
    display: flex;
    gap: 1rem;
  }

  #slider2 .thumbnail .item {
    height: 9rem;
    width: 6rem;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #slider2 .slider-wrapper.prev .thumbnail .item:last-child {
    animation: showThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) reverse;
  }

  #slider2 .slider-wrapper.next .thumbnail .item:last-child {
    opacity: 0;
    animation: showThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @keyframes showThumbnail {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #slider2 .slider-wrapper.prev .thumbnail {
    transform: translateX(0);
    animation: transformThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) reverse;
  }

  #slider2 .slider-wrapper.next .thumbnail {
    transform: translateX(166px);
    animation: transformThumbnail 500ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  @keyframes transformThumbnail {
    from {
      transform: translateX(166px);
    }
    to {
      transform: translateX(0);
    }
  }

  #slider2 .slide-buttons {
    z-index: 3;
    margin-bottom: 1rem;
    display: flex;
    gap: 12px;
  }

  #slider2 .slide-button {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
  }

  #slider2 .slide-button:hover {
    background-color: #404040;
  }

  @media (min-width: 1024px) {
    #slider2 .list .item,
    #slider2 .thumbnail .item {
      height: 14rem;
      width: 10rem;
    }
  }
</style>

<script is:inline>
  const slider2 = document.querySelector("#slider2 .slider-wrapper");
  const slideButtons2 = slider2.querySelectorAll(".slide-button");
  const list = slider2.querySelector(".list");
  const thumbnail = slider2.querySelector(".thumbnail");
  let runTimeout;

  const showSlider = (type) => {
    const listItems = slider2.querySelectorAll(".list .item");
    const thumbnailItems = slider2.querySelectorAll(".thumbnail .item");

    slideButtons2.forEach((button) =>
      button.classList.add("pointer-events-none")
    );

    if (type === "next") {
      slider2?.classList.add("next");
      list?.appendChild(listItems[0]);
      thumbnail?.appendChild(thumbnailItems[0]);

      clearTimeout(runTimeout);
      runTimeout = setTimeout(() => {
        slider2?.classList.remove("prev");
        slider2?.classList.remove("next");
        slideButtons2.forEach((button) =>
          button.classList.remove("pointer-events-none")
        );
      }, 500);
    } else {
      slider2?.classList.add("prev");
      list?.prepend(listItems[listItems.length - 1]);

      clearTimeout(runTimeout);
      runTimeout = setTimeout(() => {
        thumbnail?.prepend(thumbnailItems[thumbnailItems.length - 1]);
        slider2?.classList.remove("prev");
        slider2?.classList.remove("next");
        slideButtons2.forEach((button) =>
          button.classList.remove("pointer-events-none")
        );
      }, 500);
    }
  };

  slideButtons2.forEach((button) => {
    button.addEventListener("click", () => {
      button.classList.add("pointer-events-none");
      showSlider(slideButtons2[0] === button ? "prev" : "next");
    });
  });
</script>
