---
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout title="Docs - MixtinUI">
  <h1
    class="h-96 grid place-content-center text-center text-3xl text-gray-500 font-semibold"
  >
    What are you waiting for? There are a lot of components waiting for you!
    Look at the sidebar to your left.
  </h1>
</DocsLayout>
