---
import DocsLayout from "@/layouts/DocsLayout.astro";
---

<DocsLayout>
  <h1
    class="grid h-96 place-content-center text-center text-3xl font-semibold text-neutral-500"
  >
    What are you waiting for? There are a lot of components waiting for you!
    Look at the sidebar to your left.
  </h1>
</DocsLayout>
