---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to MixtinUI - A component library without dependencies.">
  <Header />
  <main></main>
</Layout>
