---
import Card from "@/components/app/Card.astro";
import Footer from "@/components/app/Footer.astro";
import Navbar from "@/components/app/Navbar.astro";
import Prueba from "@/components/app/Prueba";
import PruebaAstro from "@/components/app/PruebaAstro.astro";
import Section from "@/components/app/Section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Test">
  <Navbar class="pt-6" />

  <Section>
    <Card class="mt-16 flex flex-col gap-8">
      <PruebaAstro />
      <Prueba client:only="react" />
    </Card>
  </Section>

  <Footer />
</Layout>
