---
import Footer from "@/components/app/Footer.astro";
import Navbar from "@/components/app/Navbar.astro";
import Section from "@/components/app/Section.astro";
import Sidebar from "@/components/app/Sidebar.astro";
import { PATHS } from "@/data/paths";
import Layout from "../layouts/Layout.astro";

const { pathname } = Astro.url;

const title = PATHS.find((path) => pathname.includes(path.url))?.name;
---

<Layout title={(title ? title : "Get Started") + " - MixinUI"}>
  <Navbar />
  <Section>
    <Sidebar variant="aside" />

    <div class="py-8 sm:ml-64 sm:pl-4">
      <slot />

      <Footer class="-mx-4" />
    </div>
  </Section>
</Layout>
