---
import Footer from "@/components/app/Footer.astro";
import Navbar from "@/components/app/Navbar.astro";
import Section from "@/components/app/Section.astro";
import Sidebar from "@/components/app/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Docs - MixtinUI">
  <div
    class="sticky top-0 z-50 border-b border-gray-200 bg-white/30 backdrop-blur dark:border-gray-800 dark:bg-gray-900/30"
  >
    <Navbar class="py-4" transition:name="navbar" />
  </div>
  <Section>
    <Sidebar />

    <div class="py-8 md:ml-64 md:pl-8">
      <slot />

      <Footer />
    </div>
  </Section>
</Layout>
